
  	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  		<!-- Brand and toggle get grouped for better mobile display -->
  		<div class="navbar-header">
  			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
  				<span class="sr-only">Toggle navigation</span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  				<span class="icon-bar"></span>
  			</button>
  			<a class="navbar-brand" href="#">SalonReview</a>
  		</div>

  		<!-- Collect the nav links, forms, and other content for toggling -->
  		<div class="collapse navbar-collapse navbar-ex1-collapse">
  			<ul class="nav navbar-nav">
  				<li class="active"><a href="#">Link</a></li>
  				<li><a href="#">Link</a></li>
  				<li class="dropdown">
  					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
  					<ul class="dropdown-menu">
  						<li><a href="#">Action</a></li>
  						<li><a href="#">Another action</a></li>
  						<li><a href="#">Something else here</a></li>
  						<li><a href="#">Separated link</a></li>
  						<li><a href="#">One more separated link</a></li>
  					</ul>
  				</li>
  			</ul>
  			<form class="navbar-form navbar-right" role="search">
  				<div class="form-group">
  					<input type="text" class="form-control" placeholder="Search">
  				</div>
  				<button type="submit" class="btn btn-default">Submit</button>
  			</form>
  			<ul class="nav navbar-nav navbar-right">
  				<li><a href="#">Link</a></li>
  				<li class="dropdown">
  					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
  					<ul class="dropdown-menu">
  						<li><a href="#">Action</a></li>
  						<li><a href="#">Another action</a></li>
  						<li><a href="#">Something else here</a></li>
  						<li><a href="#">Separated link</a></li>
  					</ul>
  				</li>
  			</ul>
  		</div><!-- /.navbar-collapse -->
  	</nav>

  	<div class="jumbotron">
  		<h1>Awesome responsive layout</h1>
  		<p>Hello guys i am a ".hero-unit" and you can use me if you wanna say something important.</p>
  		<p><a class="btn btn-primary btn-large">Super important &raquo;</a></p>
  	</div><!-- .hero-unit -->

  	<div class="row">
  		<div class="col-md-4">
  			<h2>Box Number 1</h2>
  			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  			<p><img class="img-thumbnail" src="http://i.imgur.com/ethYyKm.jpg"></p>
  			<p><a class="btn btn-primary" href="#">Click meeee <span class="glyphicon glyphicon-star"></i></a></p>
  			<p>
  				<a href="http://www.twitter.com" title="twitter"><i class="icon-large icon-twitter"></i></a>
  				<span class="icon-large icon-youtube"></span>
  				<i class="icon-large icon-facebook"></i>
  				<i class="icon-large icon-flickr"></i>
  				<i class="icon-large icon-star"></i>
  				<i class="icon-large icon-star-empty"></i>
  			</p>
  		</div><!-- .span4 -->

  		<div class="col-md-4">
  			<h2>Box Number 2</h2>
  			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  			<p><img class="img-thumbnail hidden-lg" src="http://i.imgur.com/ethYyKm.jpg"></p>
  			<p><a class="btn" href="#">Click meeee &raquo;</a></p>
  		</div><!-- .span4 -->

  		<div class="col-md-4">
  			<h2>Box Number 3</h2>
  			<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
  			<p><img class="img-thumbnail" src="http://i.imgur.com/ethYyKm.jpg"></p>
  			<p><a class="btn" href="#">Click meeee &raquo;</a></p>
  		</div><!-- .span4 -->

  	</div><!-- .row -->
  	<!-- Single button -->
  	<div class="btn-group">
  		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  			Action <span class="caret"></span>
  		</button>
  		<ul class="dropdown-menu" role="menu">
  			<li><a href="#">Action</a></li>
  			<li><a href="#">Another action</a></li>
  			<li><a href="#">Something else here</a></li>
  			<li class="divider"></li>
  			<li><a href="#">Separated link</a></li>
  		</ul>
  	</div>