<!-- NAVBAR
================================================== -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="home"><strong>Salon</strong>Review</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="result_no_login">Search</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Sign Up</a></li>
                <li><button type="button" class="btn btn-default navbar-btn">Log In</button></li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>

<div class="container">
  <div class"col-md-4 col-md-offset-4">
  <div class="row col-md-4 col-md-offset-4">
      <form class="form-signin">
        <h2 class="form-signin-heading">Please log in</h2>
        <p><input type="text" class="form-control" placeholder="Email address" autofocus></p>
        <p><input type="password" class="form-control" placeholder="Password"></p>
        <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
  </div>
  </div>
</div> <!-- /container -->