<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas affix" id="sr-sidebar" role="navigation">
      <div class="well well-sm sidebar-nav">
        <h4 class="text-center">Filter your search</h4><br>
        <input type="location" class="form-control" id="inputLocation" placeholder="Location"><br>
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  Professionals
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" checked>
                    Select All
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Hair Stylist
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Nail Tech
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Colorist
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  Salon Type
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" checked>
                    Select All
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Hair Stylist
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Nail Tech
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Colorist
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  Distance
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" checked>
                    Select All
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Hair Stylist
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Nail Tech
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Colorist
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  Payment Options
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" checked>
                    Select All
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Hair Stylist
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Nail Tech
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Colorist
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                  Parking
                </a>
              </h4>
            </div>
            <div id="collapseFive" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" checked>
                    Select All
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Hair Stylist
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Nail Tech
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Colorist
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
                  Miscellaneous
                </a>
              </h4>
            </div>
            <div id="collapseSix" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="" checked>
                    Select All
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Hair Stylist
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Nail Tech
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" value="">
                    Colorist
                  </label>
                </div>
              </div>
            </div>
          </div>

        </div><!--/.well -->
      </div><!--/span-->
    </div>

      <div class="col-xs-12 col-sm-9 pull-right">
        <p class="pull-left visible-xs">
          <button type="button" class="btn btn-primary btn-xs toggle" data-toggle="offcanvas">Filters</button>
        </p>
        <div id='map'></div>
          <script type='text/javascript'>
          var map = L.mapbox.map('map', 'examples.map-y7l23tes')
              .setView([37.9, -77], 5);
          </script>
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="row">
              <div class="col-xs-6">
                <div class="text-muted pull-left">5 Results</div>
              </div>
              <div class="col-xs-6">
                <div>
                  <select class="form-control input-sm">
                    <option>Featured</option>
                    <option>Highest Rated</option>
                    <option>Most Reviews</option>
                    <option>Distance</option>
                    <option>Newest to Oldest</option>
                    <option>Oldest to Newest</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 hidden-xs">
            Google Ads
          </div>
        </div>
        <br>
        <div class="row"><!-- Listing Blurb Start-->
          <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6"><a class="accordion-toggle" data-toggle="collapse" href="#collapseListing1">
                    <h3 class="listing-blurb">Sally Stylist</h3></a>
                    <span class="text-muted"><small>Hair Stylist</small></span>
                  </div>
                  <div class="col-xs-6 text-right">
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span>
                    <div class="text-muted"><small>(3) Reviews</small></div>
                  </div>
                </div>
              </div>
              <div id="collapseListing1" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-7 col-sm-12 col-md-7">
                      <p>
                      This is where you write 140 characters about yourself or your salon. Just a few characters, make it count.
                      </p>
                      <p class="address text-muted">
                        463 Cameron Station Blvd.<br>
                        Alexandria, VA 22304<br>
                        (703) 568-7493
                      </p>
                      <p>Find me at: <a href="#">Mom's Hair Salon</a>
                      </p>
                    </div>
                    <div class="col-xs-5 col-sm-12 col-md-5">
                      <a href="#" class="thumbnail">
                        <img data-src="holder.js/190x100%">
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <hr>
                      <a href="#" class="btn btn-primary btn-sm">Read More</a>
                      <a href="#" class="btn btn-default btn-sm">Write Review</a>
                      <a href="#" class="btn btn-default btn-sm">Compare</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Listing Blurb End -->
        <div class="row"><!-- Listing Blurb Start-->
          <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6"><a class="accordion-toggle" data-toggle="collapse" href="#collapseListing2">
                    <h3 class="listing-blurb">Nancy Nails</h3></a>
                    <span class="text-muted"><small>Nail Tech</small></span>
                  </div>
                  <div class="col-xs-6 text-right">
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span><br>
                    <span class="text-muted"><small>(3) Reviews</small></span>
                  </div>
                </div>
              </div>
              <div id="collapseListing2" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-7 col-sm-12 col-md-7">
                      <p>
                      This is where you write 140 characters about yourself or your salon. Just a few characters, make it count.
                      </p>
                      <p class="address text-muted">
                        463 Cameron Station Blvd.<br>
                        Alexandria, VA 22304<br>
                        (703) 568-7493
                      </p>
                      <p>Find me at: <a href="#">Mom's Hair Salon</a>
                      </p>
                    </div>
                    <div class="col-xs-5 col-sm-12 col-md-5">
                      <a href="#" class="thumbnail">
                        <img data-src="holder.js/190x100%">
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <hr>
                      <a href="#" class="btn btn-primary btn-sm">Read More</a>
                      <a href="#" class="btn btn-default btn-sm">Write Review</a>
                      <a href="#" class="btn btn-default btn-sm">Compare</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Listing Blurb End -->
        <div class="row"><!-- Listing Blurb Start-->
          <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6"><a class="accordion-toggle" data-toggle="collapse" href="#collapseListing3">
                    <h3 class="listing-blurb">Cindy Colorist</h3></a>
                    <span class="text-muted"><small>Colorist</small></span>
                  </div>
                  <div class="col-xs-6 text-right">
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span><br>
                    <span class="text-muted"><small>(3) Reviews</small></span>
                  </div>
                </div>
              </div>
              <div id="collapseListing3" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-7 col-sm-12 col-md-7">
                      <p>
                      This is where you write 140 characters about yourself or your salon. Just a few characters, make it count.
                      </p>
                      <p class="address text-muted">
                        463 Cameron Station Blvd.<br>
                        Alexandria, VA 22304<br>
                        (703) 568-7493
                      </p>
                      <p>Find me at: <a href="#">Mom's Hair Salon</a>
                      </p>
                    </div>
                    <div class="col-xs-5 col-sm-12 col-md-5">
                      <a href="#" class="thumbnail">
                        <img data-src="holder.js/190x100%">
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <hr>
                      <a href="#" class="btn btn-primary btn-sm">Read More</a>
                      <a href="#" class="btn btn-default btn-sm">Write Review</a>
                      <a href="#" class="btn btn-default btn-sm">Compare</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Listing Blurb End -->
        <div class="row"><!-- Listing Blurb Start-->
          <div class="col-xs-12 col-sm-8">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-6"><a class="accordion-toggle" data-toggle="collapse" href="#collapseListing4">
                    <h3 class="listing-blurb">Mom's Hair Salon</h3></a>
                    <span class="text-muted"><small>Hair Salon</small></span>
                  </div>
                  <div class="col-xs-6 text-right">
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span>
                      <span class="icon-large icon-star"></span><br>
                    <span class="text-muted"><small>(3) Reviews</small></span>
                  </div>
                </div>
              </div>
              <div id="collapseListing4" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-7 col-sm-12 col-md-7">
                      <p>
                      This is where you write 140 characters about yourself or your salon. Just a few characters, make it count.
                      </p>
                      <p class="address text-muted">
                        463 Cameron Station Blvd.<br>
                        Alexandria, VA 22304<br>
                        (703) 568-7493
                      </p>
                    </div>
                    <div class="col-xs-5 col-sm-12 col-md-5">
                      <a href="#" class="thumbnail">
                        <img data-src="holder.js/190x100%">
                      </a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <hr>
                      <a href="#" class="btn btn-primary btn-sm">Read More</a>
                      <a href="#" class="btn btn-default btn-sm">Write Review</a>
                      <a href="#" class="btn btn-default btn-sm">Compare</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- Listing Blurb End -->
        <div>
          <hr>
          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>
        </div>
      </div><!--/span-->

    </div><!--/row-->

  </div><!--/.container-->

